/**
 * CSS for the grid examples
 */
 
/* Mark slides as incomplete to spot them easier */

.wrapper{
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	background: #DD50E9;
	font-size: 1rem;
	margin: 10px 0 10px 0;
}

.wrapper-content{
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	background: #DD50E9;
	font-size: 1rem;
	margin: 10px 0 10px 0;
}
.box {
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	background: rgb(13,80,150);
	font-size: 1rem;
}

.half{
	font-size: 1rem;
	vertical-align: top;
	display: inline-block;
}

.max-height{
	max-height: 275px;
}

.pseudo-code{
	font-size: 1rem;
}

.example-grid{
	display: grid;
	width: 100%;
	grid-template-columns: 280px 8px 280px 8px 280px 8px 280px;
	grid-template-rows: auto auto auto;
}


.example-grid-height{
	display: grid;
	grid-template-columns: 280px 8px 280px 8px 280px 8px 280px;
	grid-template-rows: 85%;
}
.example-lable-1{
	font-size: 1.5rem;
	grid-column: 1 / 1;
  	grid-row: 1 / 1;
}

.example-lable-2{
	font-size: 1.5rem;
	grid-column: 5 / 5;
  	grid-row: 1 / 1;	
}

.example-source-1{
	font-size: 1.5rem;
	grid-column: 1 / 4;
  	grid-row: 2 / 2;
}

.example-source-2{
	font-size: 1.5rem;
	grid-column: 5 / 8;
  	grid-row: 2 / 2;
}

.example-source-3{
	font-size: 1.5rem;
	grid-column: 5 / 8;
  	grid-row: 3 / 3;
}

.example-source-4{
	font-size: 1.5rem;
	grid-column: 5 / 8;
  	grid-row: 4 / 4;
}

.example-source-5{
	font-size: 1.5rem;
	grid-column: 5 / 8;
  	grid-row: 5 / 5;
}

.example-source-6{
	font-size: 1.5rem;
	grid-column: 5 / 8;
  	grid-row: 6 / 6;
}

.half-grid-example-img {
	grid-column: 1 / 4;
	grid-row: 1 / 1;
}

.half-grid-example-code {
	grid-column: 5 / 8;
	grid-row: 1 / 1;
}

