#intro {
    background: url(img/20140921_50D_FEC14_Cover_5480.jpg) bottom;
    background-repeat: no-repeat;
    background-size: cover;
	padding: 0;
	border: 0;
}

#intro h1 {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 100;
    background: rgba(0,0,0,.5);
	padding: 4% 10% 0;
    text-shadow: .03em .03em hsl(27, 84%, 40%),
    .06em .06em hsl(169, 63%, 27%);}

#intro .attribution {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 200;
	text-align: center;
	font-size: 80%;
	line-height: .4;
	text-shadow: none;
    background: rgba(0,0,0,.4);
	padding:.6em 0 0;
	overflow: hidden;
    bottom: 0;
}


#intro .attribution .author-name {
	color: hsl(169, 63%, 27%);
    padding-left: 0.3em;
}

#intro .attribution .author-company {
	color: hsl(27, 84%, 40%);
    padding-left: 1.3em;
}


#css-controls-demo label {
	padding-top: 1em;
}

.change, .todo {
    color: #ffaa00 !important;
}

#intro-image {
}